################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OrderListManagerApi3/obj/Debug/net7.0/apphost.exe
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.AssemblyInfo.cs
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.AssemblyInfoInputs.cache
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.assets.cache
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.csproj.AssemblyReference.cache
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3/obj/OrderListManagerApi3.csproj.nuget.dgspec.json
/OrderListManagerApi3/obj/OrderListManagerApi3.csproj.nuget.g.props
/OrderListManagerApi3/obj/OrderListManagerApi3.csproj.nuget.g.targets
/OrderListManagerApi3/obj/project.assets.json
/OrderListManagerApi3/obj/project.nuget.cache
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.AssemblyInfo.cs
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.AssemblyInfoInputs.cache
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.assets.cache
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.csproj.AssemblyReference.cache
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3.Infrastructure/obj/OrderListManagerApi3.Infrastructure.csproj.nuget.dgspec.json
/OrderListManagerApi3.Infrastructure/obj/OrderListManagerApi3.Infrastructure.csproj.nuget.g.props
/OrderListManagerApi3.Infrastructure/obj/OrderListManagerApi3.Infrastructure.csproj.nuget.g.targets
/OrderListManagerApi3.Infrastructure/obj/project.assets.json
/OrderListManagerApi3.Infrastructure/obj/project.nuget.cache
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.AssemblyInfo.cs
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.AssemblyInfoInputs.cache
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.assets.cache
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.csproj.AssemblyReference.cache
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3.Infrastructure.Tests/obj/OrderListManagerApi3.Infrastructure.Tests.csproj.nuget.dgspec.json
/OrderListManagerApi3.Infrastructure.Tests/obj/OrderListManagerApi3.Infrastructure.Tests.csproj.nuget.g.props
/OrderListManagerApi3.Infrastructure.Tests/obj/OrderListManagerApi3.Infrastructure.Tests.csproj.nuget.g.targets
/OrderListManagerApi3.Infrastructure.Tests/obj/project.assets.json
/OrderListManagerApi3.Infrastructure.Tests/obj/project.nuget.cache
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.AssemblyInfo.cs
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.AssemblyInfoInputs.cache
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.assets.cache
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.csproj.AssemblyReference.cache
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3.Models/obj/OrderListManagerApi3.Models.csproj.nuget.dgspec.json
/OrderListManagerApi3.Models/obj/OrderListManagerApi3.Models.csproj.nuget.g.props
/OrderListManagerApi3.Models/obj/OrderListManagerApi3.Models.csproj.nuget.g.targets
/OrderListManagerApi3.Models/obj/project.assets.json
/OrderListManagerApi3.Models/obj/project.nuget.cache
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.AssemblyInfo.cs
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.AssemblyInfoInputs.cache
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.assets.cache
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.csproj.AssemblyReference.cache
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3.Translate/obj/OrderListManagerApi3.Translate.csproj.nuget.dgspec.json
/OrderListManagerApi3.Translate/obj/OrderListManagerApi3.Translate.csproj.nuget.g.props
/OrderListManagerApi3.Translate/obj/OrderListManagerApi3.Translate.csproj.nuget.g.targets
/OrderListManagerApi3.Translate/obj/project.assets.json
/OrderListManagerApi3.Translate/obj/project.nuget.cache
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.AssemblyInfo.cs
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.AssemblyInfoInputs.cache
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.assets.cache
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.csproj.AssemblyReference.cache
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3.Service/obj/OrderListManagerApi3.Services.csproj.nuget.dgspec.json
/OrderListManagerApi3.Service/obj/OrderListManagerApi3.Services.csproj.nuget.g.props
/OrderListManagerApi3.Service/obj/OrderListManagerApi3.Services.csproj.nuget.g.targets
/OrderListManagerApi3.Service/obj/project.assets.json
/OrderListManagerApi3.Service/obj/project.nuget.cache
*.user
