################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OrderListManagerApi3/obj/Debug/net7.0/apphost.exe
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.AssemblyInfo.cs
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.AssemblyInfoInputs.cache
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.assets.cache
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.csproj.AssemblyReference.cache
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3/obj/OrderListManagerApi3.csproj.nuget.dgspec.json
/OrderListManagerApi3/obj/OrderListManagerApi3.csproj.nuget.g.props
/OrderListManagerApi3/obj/OrderListManagerApi3.csproj.nuget.g.targets
/OrderListManagerApi3/obj/project.assets.json
/OrderListManagerApi3/obj/project.nuget.cache
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.AssemblyInfo.cs
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.AssemblyInfoInputs.cache
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.assets.cache
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.csproj.AssemblyReference.cache
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3.Infrastructure/obj/OrderListManagerApi3.Infrastructure.csproj.nuget.dgspec.json
/OrderListManagerApi3.Infrastructure/obj/OrderListManagerApi3.Infrastructure.csproj.nuget.g.props
/OrderListManagerApi3.Infrastructure/obj/OrderListManagerApi3.Infrastructure.csproj.nuget.g.targets
/OrderListManagerApi3.Infrastructure/obj/project.assets.json
/OrderListManagerApi3.Infrastructure/obj/project.nuget.cache
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.AssemblyInfo.cs
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.AssemblyInfoInputs.cache
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.assets.cache
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.csproj.AssemblyReference.cache
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3.Infrastructure.Tests/obj/OrderListManagerApi3.Infrastructure.Tests.csproj.nuget.dgspec.json
/OrderListManagerApi3.Infrastructure.Tests/obj/OrderListManagerApi3.Infrastructure.Tests.csproj.nuget.g.props
/OrderListManagerApi3.Infrastructure.Tests/obj/OrderListManagerApi3.Infrastructure.Tests.csproj.nuget.g.targets
/OrderListManagerApi3.Infrastructure.Tests/obj/project.assets.json
/OrderListManagerApi3.Infrastructure.Tests/obj/project.nuget.cache
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.AssemblyInfo.cs
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.AssemblyInfoInputs.cache
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.assets.cache
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.csproj.AssemblyReference.cache
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3.Models/obj/OrderListManagerApi3.Models.csproj.nuget.dgspec.json
/OrderListManagerApi3.Models/obj/OrderListManagerApi3.Models.csproj.nuget.g.props
/OrderListManagerApi3.Models/obj/OrderListManagerApi3.Models.csproj.nuget.g.targets
/OrderListManagerApi3.Models/obj/project.assets.json
/OrderListManagerApi3.Models/obj/project.nuget.cache
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.AssemblyInfo.cs
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.AssemblyInfoInputs.cache
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.assets.cache
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.csproj.AssemblyReference.cache
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3.Translate/obj/OrderListManagerApi3.Translate.csproj.nuget.dgspec.json
/OrderListManagerApi3.Translate/obj/OrderListManagerApi3.Translate.csproj.nuget.g.props
/OrderListManagerApi3.Translate/obj/OrderListManagerApi3.Translate.csproj.nuget.g.targets
/OrderListManagerApi3.Translate/obj/project.assets.json
/OrderListManagerApi3.Translate/obj/project.nuget.cache
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.AssemblyInfo.cs
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.AssemblyInfoInputs.cache
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.assets.cache
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.csproj.AssemblyReference.cache
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.GeneratedMSBuildEditorConfig.editorconfig
/OrderListManagerApi3.Service/obj/OrderListManagerApi3.Services.csproj.nuget.dgspec.json
/OrderListManagerApi3.Service/obj/OrderListManagerApi3.Services.csproj.nuget.g.props
/OrderListManagerApi3.Service/obj/OrderListManagerApi3.Services.csproj.nuget.g.targets
/OrderListManagerApi3.Service/obj/project.assets.json
/OrderListManagerApi3.Service/obj/project.nuget.cache
*.user
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/Database.json
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.dll
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.pdb
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.deps.json
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.dll
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.pdb
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/OrderListManagerApi3.Models.dll
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/OrderListManagerApi3.Models.pdb
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/OrderListManagerApi3.Translate.dll
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/OrderListManagerApi3.Translate.pdb
/OrderListManagerApi3.Infrastructure.Tests/bin/Debug/net7.0/testhost.exe
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.csproj.BuildWithSkipAnalyzers
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.csproj.CoreCompileInputs.cache
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.csproj.FileListAbsolute.txt
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.dll
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.genruntimeconfig.cache
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.pdb
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.Tests.sourcelink.json
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/ref/OrderListManagerApi3.Infrastructure.Tests.dll
/OrderListManagerApi3.Infrastructure.Tests/obj/Debug/net7.0/refint/OrderListManagerApi3.Infrastructure.Tests.dll
/OrderListManagerApi3.Infrastructure/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.dll
/OrderListManagerApi3.Infrastructure/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.pdb
/OrderListManagerApi3.Infrastructure/bin/Debug/net7.0/OrderListManagerApi3.Models.dll
/OrderListManagerApi3.Infrastructure/bin/Debug/net7.0/OrderListManagerApi3.Models.pdb
/OrderListManagerApi3.Infrastructure/bin/Debug/net7.0/OrderListManagerApi3.Translate.dll
/OrderListManagerApi3.Infrastructure/bin/Debug/net7.0/OrderListManagerApi3.Translate.pdb
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.csproj.BuildWithSkipAnalyzers
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.csproj.CoreCompileInputs.cache
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.csproj.FileListAbsolute.txt
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.dll
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.pdb
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/OrderListManagerApi3.Infrastructure.sourcelink.json
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/ref/OrderListManagerApi3.Infrastructure.dll
/OrderListManagerApi3.Infrastructure/obj/Debug/net7.0/refint/OrderListManagerApi3.Infrastructure.dll
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.dll
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.exe
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.dll
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.pdb
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.Models.dll
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.Models.pdb
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.pdb
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.Services.dll
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.Services.pdb
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.Translate.dll
/OrderListManagerApi3/bin/Debug/net7.0/OrderListManagerApi3.Translate.pdb
/OrderListManagerApi3.Models/bin/Debug/net7.0/OrderListManagerApi3.Models.dll
/OrderListManagerApi3.Models/bin/Debug/net7.0/OrderListManagerApi3.Models.pdb
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.csproj.BuildWithSkipAnalyzers
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.csproj.CoreCompileInputs.cache
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.csproj.FileListAbsolute.txt
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.dll
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.pdb
/OrderListManagerApi3.Models/obj/Debug/net7.0/OrderListManagerApi3.Models.sourcelink.json
/OrderListManagerApi3.Models/obj/Debug/net7.0/ref/OrderListManagerApi3.Models.dll
/OrderListManagerApi3.Models/obj/Debug/net7.0/refint/OrderListManagerApi3.Models.dll
/OrderListManagerApi3.Service/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.dll
/OrderListManagerApi3.Service/bin/Debug/net7.0/OrderListManagerApi3.Infrastructure.pdb
/OrderListManagerApi3.Service/bin/Debug/net7.0/OrderListManagerApi3.Models.dll
/OrderListManagerApi3.Service/bin/Debug/net7.0/OrderListManagerApi3.Models.pdb
/OrderListManagerApi3.Service/bin/Debug/net7.0/OrderListManagerApi3.Services.dll
/OrderListManagerApi3.Service/bin/Debug/net7.0/OrderListManagerApi3.Services.pdb
/OrderListManagerApi3.Service/bin/Debug/net7.0/OrderListManagerApi3.Translate.dll
/OrderListManagerApi3.Service/bin/Debug/net7.0/OrderListManagerApi3.Translate.pdb
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.csproj.BuildWithSkipAnalyzers
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.csproj.CoreCompileInputs.cache
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.csproj.FileListAbsolute.txt
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.dll
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.pdb
/OrderListManagerApi3.Service/obj/Debug/net7.0/OrderListManagerApi3.Services.sourcelink.json
/OrderListManagerApi3.Service/obj/Debug/net7.0/ref/OrderListManagerApi3.Services.dll
/OrderListManagerApi3.Service/obj/Debug/net7.0/refint/OrderListManagerApi3.Services.dll
/OrderListManagerApi3.Translate/bin/Debug/net7.0/OrderListManagerApi3.Models.dll
/OrderListManagerApi3.Translate/bin/Debug/net7.0/OrderListManagerApi3.Models.pdb
/OrderListManagerApi3.Translate/bin/Debug/net7.0/OrderListManagerApi3.Translate.dll
/OrderListManagerApi3.Translate/bin/Debug/net7.0/OrderListManagerApi3.Translate.pdb
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.csproj.BuildWithSkipAnalyzers
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.csproj.CoreCompileInputs.cache
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.csproj.FileListAbsolute.txt
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.dll
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.pdb
/OrderListManagerApi3.Translate/obj/Debug/net7.0/OrderListManagerApi3.Translate.sourcelink.json
/OrderListManagerApi3.Translate/obj/Debug/net7.0/ref/OrderListManagerApi3.Translate.dll
/OrderListManagerApi3.Translate/obj/Debug/net7.0/refint/OrderListManagerApi3.Translate.dll
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.csproj.BuildWithSkipAnalyzers
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.csproj.CoreCompileInputs.cache
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.csproj.FileListAbsolute.txt
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.dll
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.genruntimeconfig.cache
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.pdb
/OrderListManagerApi3/obj/Debug/net7.0/OrderListManagerApi3.sourcelink.json
/OrderListManagerApi3/obj/Debug/net7.0/ref/OrderListManagerApi3.dll
/OrderListManagerApi3/obj/Debug/net7.0/refint/OrderListManagerApi3.dll
/OrderListManagerApi3/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.OrderListManagerApi3.props
/OrderListManagerApi3/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.OrderListManagerApi3.props
